@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Space-Mono";
  src: url("/fonts/SpaceMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Space-Mono";
}

html {
  color-scheme: dark;
}
body {
  background-color: #000000;
  opacity: 1;
  background-image: radial-gradient(
      rgba(239, 255, 10, 0.089) 0.75px,
      transparent 0.75px
    ),
    radial-gradient(rgba(239, 255, 10, 0.103) 0.75px, #000000 0.75px);
  background-size: 30px 30px;
  background-position: 0 0, 15px 15px;
}

::-moz-selection {
  /* Code for Firefox */
  color: black;
  background: rgb(253 224 71);
}

::selection {
  color: black;
  background: rgb(253 224 71);
}

/*
body {
  background: linear-gradient(-45deg, #000000, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
*/
